@font-face {
	font-family: "One Signature";
	src: url(../fonts/OneSignature.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Orbitron', sans-serif;
	scroll-behavior: smooth;
}


/*Landing page*/

#main {
	background-image: url(../images/landingbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	position: fixed;
}
#main-text {
	margin: 20px 10px;
}

#h1-landing,
#h2-landing {
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;	
	color: rgba(242,248,255,1);
	background-color: rgba(198,198,198,0.35);
	width: 100%;
	padding: 10px 30px 10px 30px;
}

#h1-landing {
	font-size: 60px;
}

#h2-landing {
	font-size: 110px;
}

#png-1 {
	width: 650px;
	height: 650px;
	position: fixed;
	bottom: 0;
	left: 50px;
	z-index: 2;
}

#landing-button {
	margin-right: 30px;
	margin-bottom: 130px;
}

#landing-footer {
	vertical-align: center;
}

#landing-icon {
	padding: 10px;
}

#landing-char {
	color: #333;
}

/*End landing page*/

/*Universal nav*/

div.container-fluid > nav#navbar {
	background-color: rgba(198,198,198,0.35);
	color: #AAA8A8;

}

#nav-phrase {
	font-size: 13px;
	padding-left: 20px;
}

#nav-burger {
	height: 30px;
	width: 30px;
}

#nav-char-drop {
	border: none;
	margin-top: 2px;
}

#nav-char-drop:hover {
	color: #fff;
}

div.dropdown > button#nav-char-drop:hover {
	color: #fff;
	transition-duration: 0;
}

div.dropdown > div#nav-drop-list {
	background-color: rgba(198,198,198,0.35);
}

/*End universal nav*/




/*Home Page*/

.page {
	background-color: rgba(17,17,17,1);
}
.home-car-img {
	background-attachment: fixed;
}

.home-car-arrow {
	opacity: 0.5;
}

#home-car-h {
	font-size: 60px;
	background-color: rgba(117,117,117,0.55);
	/*width: 100%;*/
	border-radius: 10px;
	letter-spacing: 5px;
}

#home-car-p {
	font-size: 20px;
	background-color: rgba(117,117,117,0.55);
	width: 100%;
	border-radius: 10px;
}

.carousel-caption-h {
	margin-bottom: 230px;
}

.carousel-caption-char {

}

.home-learn-more {
	text-transform: uppercase;
	display: block;
	text-decoration: none;
}

#home-games {
	border: none;

}

#story-img {
	position: relative;
	margin: 30px auto;
	border-radius: 10px;
}

#story-png {
	position: absolute;
	height: 250px;
	width: 550px;
	top: 70px;
	left: 40px;
	background-color: none;
}

#story-png-1 {
	position: absolute;
	height: 400px;
	width: 400px;
	top: 30px;
	left: 40px;
	background-color: none;
}

#story-png-2 {
	position: absolute;
	height: 350px;
	width: 450px;
	top: 70px;
	left: 40px;
	background-color: none;
}

div#story-text > p {
	font-family: 'Philosopher', sans-serif;
}

#story-h {
	font-size: 40px;	
}

.game-img-home {
	padding-bottom: 20px;
}


#story-read {
	color: #333;
	font-size: 12px;	
}

.home-char-img {
	border-radius: 10px;
	margin-bottom: 20px;
}

#home-char-h {
	font-size: 60px;
	background-color: rgba(101,113,139,0.45);
	border-radius: 10px;
	letter-spacing: 5px;
	padding: 10px;
	width: 90%;
	margin: 20px auto;
}

#home-char-p {
	font-size: 15px;
	background-color: rgba(101,113,139,0.45);
	border-radius: 10px;
}

.home-about-img {
	border-radius: 10px;
}






#footer-text {
	color: #F2F2F2;
}
/*End of Home Page*/




/*About Page*/

#jumbotron-about {
	background-color: #333;
	height: 90vh;
	border-radius: 0;
	margin-bottom: 0;
}

#landing-about {
	color: #F2F2F2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'One Signature', sans-serif;
}

#mission {
	height: 100%;
	background-color: #333;
	color: #fff;
}

#vision {
	height: 100%;
	background-color: #fff;
	color: #333;
}

.about-tags {
	font-weight: bold;
}

#about-footer {
	vertical-align: center;
	background-color: #fff;
}

/*End about page*/

#username,
#email,
#contact,
#message {
	background-color: rgba(198,198,198,5);
}


/*Contact Page*/

#contact-h1 {
	color: #fff;
}

#g-map {
	width: 100%;
	display: block;
	border: none;
	height: 70vh;
	border-radius: 20px;
}

#contact-btn {
	margin-bottom: 10px;
}

#contact-footer {
	vertical-align: center;
}

.contact-label {
	color: #fff;
}

/*End of Contact Page*/



/*Mobile Styles*/
@media only screen and (max-width: 400px) {
	#nav-phrase { 
		display: none;
		visibility: hidden;
	}
	
	#navbar {
		background-color: none;
	}
}

/*Tablet Style*/

@media only screen and (min-width: 401px) and (max-width: 960px) {

} 

/*Desktop Style*/

@media only screen and (min-width: 961px)